body {
	margin: 0 px;
}

.screen-box {
	padding: 57px 405px 146px 402px;
}

.screen {
	width: 100%;
}
.screen-logo {
	width: 96px;
	height: 60px;
}
.screen-logo  > img{
	width: 100%;
	height: 100%;
}
.screen-footer {
	display: flex;
	justify-content: space-between;
}
.screen-menu {
	display: flex;
	margin-top: 22px;
}


.roboto400 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.1em;
	color: #000000;
}
.roboto500 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 79px;
	color: #000000;
}



.screen-menu-element {
	margin: 0px 21px
}

.screen-content-computer {
	max-width: 357px;
}