html, body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
    letter-spacing: 0px;
	color: #000000;
    padding: 0px;
}

p, h1, h2, h3, body {

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0;
}
li {
    display: blick;
    text-align: center;
}

.text-block__text {
    font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #727272;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-top: 50px;
}

.text-block__title {
    text-align: center;
    font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
	color: #000000;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.button {
    padding: 18px 40px;
    background: #34547A;
    border: 0px;
}
.button__text {
    color: #FFFFFF;
    font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.1em
}

.form_button {
    margin: 0px auto;
}
.first-screen{
    width: 100%;
    max-width: 1150px;
    margin: 0px auto;
}
.first-screen-box {
    width: 100%;
    padding: 57px 0px 146px 0px;
    height: 100%;
    background: #EEEFF1;
    box-sizing: border-box;
}
.header {
    justify-content: space-between;
    display: flex;
}
.first-screen__computer {
    width: 357px;
    height: 233.7px;
    background: url('img/Frame.svg');
    align-self: center;
    margin-left: 85px;

}

.first-screen__info {
    width: 45%;
    justify-content: flex-end;
}
.first-screen__content {
    display: flex;
    padding-top: 162px; 
    justify-content: space-between;
}

.first-screen__menu {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type: none;
}
.first-screen__menu > li {
    margin-right: 42px;
    list-style-type: none;
    letter-spacing: 0.1em;
}
.first-screen__menu > li:last-child {
    margin-right: 0px;
}
.first-screen__menu > li:first-child {
    color: #34547A;
}

.first-screen__info__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    margin: 0px;
    color: #000000;

}

.first-screen__info__text {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.about-me-box {
    padding: 119px 0px 100px 0px;
}
.text-block {
    display: block;
    width: 100%;
    max-width: 540px;
    margin: 0px auto;
    box-sizing: border-box;
    text-align: center;
}



.numbers-box {
    padding: 100px 0px;
    background: #34547A;
}
.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin: 0px auto;
    max-width: 1150px;
    box-sizing: border-box;
    background: #34547A;
}
.numbers__elem__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0px 0px 0px 20px;
}
.numbers__elem__text {
    color: #FFFFFF;
    margin: 10px 0px 0px 20px;
}
.numbers__elem {
    display: flex;
    justify-content: center;
}
.numbers__elem2 {
    display: flex;
    justify-content: center;
}


.video {
    background: #EEEFF1;
    padding: 100px 0px 100px 0px;

}



.video__img {
    margin: 57px auto 0px auto;
    display: flex;
    background-image: url('img/Rectangle 5.png');
    background-size: cover;
    max-width: 1110px;
    height: 600px;

}


.video__play-button{
    margin: auto;
    position: relative;
}
.skills-box {
    padding: 102px 0px 101px 0px;
}
.skills {
    box-sizing: border-box;
    max-width: 1150px;
    width: 100%;
    margin: 0px auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.skills_img {
    width: 50%;
}
.skills_img > img{
    width: 100%;
    
}
.skills__info__elem {
    display: flex;
    background: #C4C4C4;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 4px;
}
.skills__info__elem-done {
    display: flex;
    background: #34547A;
    height: 4px;
    width: 1px;
    flex-basis:  75%;
}
.skills__info {
    width: 445px;
    margin: auto;
    margin-left: 0px;
}
.skills__info__title {
    padding-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;

    color: #000000;
}

.skills__info__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #727272;

}
.form-box {
    background: #EEEFF1;
}
.form {
    max-width: 1150px;
    width: 100%;
    background: #EEEFF1;
    padding: 100px 0px;
    margin: 0px auto;


}


.form_button{
    width: 225px;
    height: 65px;
    margin: 0px auto;
    border: 0px;
    display: block;
    background: #34547A;

}
.form__block{
    display: flex;
    max-width: 540px;
    width: 100%;
    padding: 65px 0px 70px 0px;
    flex-wrap: wrap;
    margin: 0px auto;
    justify-content: space-between;

}
.form__block__input_text {
    width: 45%;
    border-width: 0px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 20px;
    color: #5F5D5D;
    background: #FFFFFF;
}

.form__block__input_text2 {
    width: 100%;
    min-width: 342px;
    height: 50px;
    border-width: 0px;
    padding: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    min-height: 175px;
    color: #5F5D5D;
    background: #FFFFFF;
}


.footer-box{
    background: #34547A;
    width: 100%;
}
.footer {
    display: flex;
    margin: 0px auto;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1150px;
    padding: 50px 0px;
    background: #34547A;
}


.footer__text {
    margin: auto 0px;
    padding: ;
}
.footer__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 20px;     
    color: #FFFFFF;  
}

.footer__text__content {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;

    color: #FFFFFF;
}

.vk_logo {
    margin: auto 0px;
}

.vk_logo >img {
    width: 44px;
    margin: 0px 10px;
}

.project__elem__shadow {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background:  url('img/view.svg') center no-repeat;
	background-color: #34547acc;
	opacity: 0;
}
.project__elem__shadow:hover {
	opacity: 1;
}
.projects {
    display: flex;
    flex-wrap: wrap;
}
.project__elem__column {
    display: flex;
    width: 50%;
}
.project__elem{
	width: 50%;
	height: 100%;
	display: flex;
	position: relative
}

.project__elem > img {
	width: 100%;
	height: 100%;
}


@media only screen and (max-device-width: 1280px){
    .first-screen-box {
        padding: 0px;
        box-sizing: border-box;
    }
    .first-screen {
        padding: 22px 20px 0px 20px;
        background: #EEEFF1;
        box-sizing: border-box;
    }
    
    .first-screen__menu {
        display: none;
    }

    .first-screen__computer {
        width: 298px;
        height: 195px;
        margin-left: 0px;
        margin: 0px auto;
        background: url('img/iPhone/Frame.svg');

    }
  
    .first-screen__info__text {
        width: 100%;
        padding: 44px 7px;
        box-sizing: border-box;
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #727272;
        max-width: 540px;
        margin: 0px auto;
    }

    .first-screen__info__title {
        font-size: 34px;
        text-align: center;
        line-height: 100%;
    }
    .first-screen__info {
        width: 100%;
        padding: 50px 0px 95px 0px;
    }
    .first-screen__content {
        padding-top: 67px;
        flex-wrap: wrap;
    }
    .button {
        display: block;
        margin: 0px auto;
    }


    .about-me-box {
        padding: 91px 26px 82px 26px;
    }
    .text-block__text {
        line-height: 120%;
        padding-top: 34px ;
    }
    .numbers-box {
        padding: 30px 0px;
    }
    .numbers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 100%;
        padding: 0px;
        box-sizing: border-box;
        background: #34547A;
        justify-content: space-between;
        column-gap:  auto;
    }
    .numbers__elem {
        padding: 45px 15px 45px 0px;
    }
    .numbers__elem2 {
        padding: 45px 0px 45px 15px;
    }
    .skills-box {
        padding: 0px;
    }
    .skills__info {
        width: 100%;
        margin: 0px auto;
    }
    .skills__info__title {
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 98px 0px 42px 0px;
    }
    .skills_img {
        width: 100%;
        margin: 0px auto;
    }
    .skills_img > img {
        width: 100%;
    }
    .skills {
        padding: 82px 18px 73px 18px;
        box-sizing: border-box;
        flex-wrap: wrap-reverse;
    }

    .video {
        padding: 93px 18px 91px 18px;
    }
    .video_title {
        width: 100%;
        margin: 30px auto;
     
    }
    .video_text{
        width: 90%;
        margin: 0px auto 30px auto;
        height: 98px;
        font-size: 16px;
        line-height: 120%;
    }

    .video__img{
        width: 320px;
        height: 185px;
    }
    .video__play-button{
        width: 75px;
        height: 75px;
    }

    .projects {
        padding: 34px 0px;
    }
    .project__elem {
        width: 50%;
		height: 100%;
    }
    .reverse {
        flex-direction: row-reverse;
    }
    .project__elem__column {
        width: 100%;
    }

    .form {
        padding: 91px 17px 100px 17px;
        box-sizing: border-box;
    }
    .form__block {
        padding: 48px 0px;
    }

    .form__block__input_text{
        width: 100%;
        height: 50px;
    }
    .form__block__input_text2 {
        width: 100%;
        height: 175px;
        min-width: 320px;

    }
    .footer__name{
        text-align: center;
    }
    .vk_logo >img {
        width:44px;
        padding-top: 20px;
    }
    .form_block {
        width: 320px;
    }
}



/*
<div class="projects">
            <div class="project__elem">
                <img src="img/Rectangle 7.png">
                <div class='project__elem__shadow'></div>
            </div>
            <div class="project__elem">
                <img src="img/Rectangle 7.7.png">
                <div class='project__elem__shadow'></div>
            </div>
            <div class="project__elem">
                <img src="img/Rectangle 7.png">
                <div class='project__elem__shadow'></div>
            </div>
            <div class="project__elem">
                <img src="img/Rectangle 7.7.png">
                <div class='project__elem__shadow'></div>
            </div>
            <div class="project__elem">
                <img src="img/Rectangle 7.7.png">
                <div class='project__elem__shadow'></div>
            </div>
            <div class="project__elem">
                <img src="img/Rectangle 7.png">
                <div class='project__elem__shadow'></div>
            </div>
            <div class="project__elem">
                <img src="img/Rectangle 7.7.png">
                <div class='project__elem__shadow'></div>
            </div>
            <div class="project__elem">
                <img src="img/Rectangle 7.png">
                <div class='project__elem__shadow'></div>
            </div>
        </div>
    
*/