html, body {
 margin: 0;
 padding: 0;
}

/*main {
    margin: auto;
    position: relative;
    width: 1920px;
    height: 4895px;
    padding: 0;
    background: #F9F9F9;
}
*/
.first-screen {
    width: 100%;
    height: 100%;
    min-height: 650px;
    padding-top: 70px;
    background: #EEEFF1;

}
.header {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
.computer {
    width: 357px;
    height: 233.7px;
    margin-top: 75px;
    background: url('img/Frame.svg');

}

.first_screen_content {
    margin-left: 130px;
    height: 100% + 100px;
}
.first_screen_box {
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    justify-content: center;
}
.first-screen_menu {
    display: flex;
    width: 611px;
    min-width: 300px;
    height: 16px;
    justify-content: space-between;
}




}

.menu_elem {
    height: 16px;
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    
    color: #000000;
}

.first-screen_title {
    margin-bottom: 60px;
    width: 541px;
    height: 45px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;

    color: #000000;
}

.first-screen_text {
    margin-bottom: 60px;
    width: 540px;
    height: 67px;


    /* p */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #727272;


}
.first-screen__button_text {

    width: 143px;
    height: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.first-screen__button{
    width: 225px;
    height: 65px;

    background: #34547A;

}
.about-me {
    display: block;
    width: 540px;
    height: 147px;
    margin: 100px auto;
}

.about-me_title {

    margin: 0 auto;
    width: 403px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}
.about-me_text {

    width: 540px;
    height: 67px;
    margin-top: 50px;
    /* p */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #727272;

}


.numbers {
    flex-wrap: wrap;
    gap: 1rem
    width: 100%;
    height: 100%;
    background: #34547A;
    display: flex;
    justify-content: center;

}

.number_elem {
    width: 141px;
    height: 50px;
    margin: 100px 15px;
    display: flex;
    
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0px 20px;
    color: #FFFFFF;
}
.video {

    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 1000px;
    background: #EEEFF1;

}

.video_title {
    width: 403px;
    height: 30px;
    margin: 100px auto 50px auto;

    
    /* h2 */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    
    color: #000000;
}
.video_text {
    margin:10px auto;
    width: 540px;
    height: 67px;


    /* p */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #727272;

}
.video_img {
    margin: 55px auto 100px auto;
    display: flex;
    /* width: 90%; */
    background-image: url('img/Rectangle 5.png');
    background-size: cover;
    width: 1110px;
    height: 600px;
}
.video_img > img {
    width: 100px;

}

.video_play_button{
    margin: auto;
    position: relative;
}
.skills {
    margin: 100px auto;
    width: 100%;
    max-width: 1150px;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.skills_img {
    width: 50%;
    min-width: 600px;
    height: 500px;
    background: url("img/Rectangle 3.png");
    background-size: cover;
}
.my_skills_elem {
    display: flex;
    background: #C4C4C4;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 4px;
}
.my_skills_elem_done {
    display: flex;
    background: #34547A;
    height: 4px;
    width: 1px;
    flex-basis:  75%;
}
.my_skills {
    width: 445px;
    height: 100%;
    margin: auto;
    margin-left: 0px;
}
.my_skills_title {
    
    width: 403px;
    height: 30px;


    /* h2 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;

    color: #000000;
}

.my_skills_text {
    width: 128px;
    height: 15px;
    left: 387px;
    top: 1593px;

    /* p */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #727272;

}

/*
.projects {

    width: 100%;
    height: 100%;
    min-height: 960px;

    display: flex;
    flex-wrap: wrap;
}

.projects_elem {
    width: 25%;
    height: auto;
    min-width: 400px;
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));    
}

.project_shadow{
    width: 100%;
    height: 100%;
    size: cover;

}

.project_shadow:hover {
    opacity: 0.2;
    background: url('img/view.svg') no-repeat center;
}


<div class="projects">
            <div class="projects_elem"><img src='img/Rectangle 7.7.png' class="project_shadow"></div>
            <div class="projects_elem"><img src='img/Rectangle 7.png' class="project_shadow"></div>
            <div class="projects_elem"><img src='img/Rectangle 7.7.png' class="project_shadow"></div>
            <div class="projects_elem"><img src='img/Rectangle 7.png' class="project_shadow"></div>
            <div class="projects_elem"><img src='img/Rectangle 7.png' class="project_shadow"></div>
            <div class="projects_elem"><img src='img/Rectangle 7.7.png' class="project_shadow"></div>
            <div class="projects_elem"><img src='img/Rectangle 7.png' class="project_shadow"></div>
            <div class="projects_elem"><img src='img/Rectangle 7.7.png' class="project_shadow"></div>
        </div>

*/
.form {
    display: block;
    width: 100%;
    height: 762px;


}

.form_title{

    width: 406px;
    height: 30px;
    margin: 100px auto 0px auto;

    /* h2 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #000000;


}

.form_text {
    margin: 50px auto 65px auto;

    width: 540px;
    height: 67px;


    /* p */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #727272;


}
.form_block{
    display: flex;
    width: 540px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;

}
.input_text {
    width: 45%;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 20px;
    color: #5F5D5D;
}

.input_text2 {
    width: 100%;
    min-width: 342px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    min-height: 175px;
    color: #5F5D5D;
}


.block_text {
    width: 74px;
    height: 15px;
    left: 710px;
    top: 4311px;

    /* inputs */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;

    color: #5F5D5D;

}
.main-footer {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    min-height: 151px;

    background: #34547A;
}


.footer_text {
    margin: auto 0px;
}
.footer_name {
    
    width: 130px;
    height: 19px;
    left: 406px;
    top: 4794px;
            
            /* h3 */
            
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
            
    color: #FFFFFF;  
}

.footer_text_content {
    width: 193px;
    height: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;

    color: #FFFFFF;
}

.vk_logo {
    margin: auto 0px;
}




.projects {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project_elem1 {
    height: 480px;
    width: 480px;
    background: url('img/Rectangle 7.7.png');
    background-size: cover;
}
.project_elem2 {
    height: 480px;
    width: 480px;
    background: url('img/Rectangle 7.png');
    background-size: cover;
}
.elem_shadow{
    width: 100%;
    height: 100%;
}

.elem_shadow:hover {
    width: 100%;
    display: block;
    height: 100%;
    background: url('img/view.svg') no-repeat center;
    background-color: #34547acc;
    opacity: 0.7;
    /*background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)), url('img/view.svg') no-repeat center;*/
}

@media only screen and (max-device-width: 1280px){
    .first-screen_menu {
        display: none;
    }

    .computer {
        width: 298px;
        height: 195px;
        margin-top: 75px;
        background: url('img/iPhone/Frame.svg');

    }
    .first-screen_text {
        margin-bottom: 60px;
        width: 323px;
        height: 98px;
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #727272;
    }

    .first-screen_title {
        margin: 60px auto;
        width: 302px;
        height: 41px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        text-align: center;
        color: #000000;
    }
    .first_screen_content {
        margin-left: 0px;
        height: 100% + 100px;
    }
    .first-screen__button{
        display: block;
        margin: 10px auto;
    }
    .about-me_title {
        width: 126.39px;
        height: 38px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
    }

    .about-me {
        display: block;
        width: 320px;
        height: 147px;
    }

    .about-me_text {

        width: 320px;
        height: 67px;
        margin: 50px 0px 0px 0px;

    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }
    .number_elem {
        width: 141px;
        height: 50px;
        margin: 50px 0px;
        display: flex;
    }
    .my_skills {
        width: 320px;
        height: 100%;
        margin: 0px auto;
    }
    .my_skills_title {
        width: 189px;
        height: 38px;
        margin: auto;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        color: #000000;
    }
    .skills_img {
        width: 50%;
        min-width: 320px;
        height: 260px;
        margin: 0px auto 50px auto;
        background: url("img/Rectangle 3.png");
        background-size: cover;
    }
    .skills {
        flex-wrap: wrap-reverse;
    }
    .video {
        min-height: 0px;
    }
    .video_title {
        width: 220.68px;
        height: 38px;
        margin: 30px auto;
     
    }
    .video_text{
        width: 323px;
        margin: 0px auto 30px auto;
        height: 98px;
        font-size: 16px;
        line-height: 120%;
    }

    .video_img{
        width: 320px;
        height: 185px;
    }
    .video_play_button{
        width: 75px;
        height: 75px;
    }
    .project_elem1 {
        width: 160px;
        height: 160px;
    }
    .project_elem2{
        width: 160px;
        height: 160px;
    }
    .form_title {
        width: 260px;
        height: 38px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
    }
    .form_text{
        width: 322px;
        height: 98px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        margin: 20px auto;
    }
    .input_text {
        width: 320px;
        height: 50px;
    }
    .input_text2 {
        width: 320px;
        height: 175px;
        min-width: 320px;
        margin-bottom: 50px;
    }
    .footer_name{
        margin: 20px auto;
    }
    .vk_logo >img {
        width:44px;
    }
    .form_block {
        width: 320px;
    }
}
/*
.projects {

    width: 1920px;
    height: 960px;

    display: flex;
    flex-wrap: wrap;
}

.project_elem1 {
    width: 480px;
    height: 480px;
    background: url('img/Rectangle 7.7.png');
    
}
.project_elem2 {
    width: 480px;
    height: 480px;
    background: url('img/Rectangle 7.png');
    
}
.elem_shadow{
    display: block;
    width: 100%;
    height: 100%;
}

.elem_shadow:hover {
    display: block;
    width: 100%;
    height: 100%;
    background: url('img/view.svg') no-repeat center;
    background-color: #40a4c2;
    opacity: 0.7;
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)), url('img/view.svg') no-repeat center;
}

        <div class="projects">
            <div class="project_elem1"><div class="elem_shadow"></div></div>
            <div class="project_elem2"><div class="elem_shadow"></div></div>
            <div class="project_elem1"><div class="elem_shadow"></div></div>
            <div class="project_elem2"><div class="elem_shadow"></div></div>
            <div class="project_elem2"><div class="elem_shadow"></div></div>
            <div class="project_elem1"><div class="elem_shadow"></div></div>
            <div class="project_elem2"><div class="elem_shadow"></div></div>
            <div class="project_elem1"><div class="elem_shadow"></div></div>
        </div>

*/